*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(248, 248, 248);
}

html {
  scroll-behavior: smooth;
}

.navbar{
    display: flex;
    background-color: rgba(191, 214, 196, 0.9);
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top:0;
    opacity: 1.0;
}



.logo{
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.nparts{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-right: 20px;
}

.nparts li{
    margin-right: 30px;
}

.nparts a{
  text-decoration: none; 
  color: black;      
}

#about-page{
    height: 900px;
    margin-top: 150px;
}
.greet{
    display: flex;
    justify-content: center;
    font-size: 46px;
    font-weight: 700;
}

.ppbox{
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.pp{
    border-radius: 50%;
    overflow: hidden;
}

.pp img{
    transform: translateY(2px);
    transition-duration: 1s;
}

.pp img:hover{
    transform: scale(1.1);
}

.ppic{
    scale: 1.1;
}

.paragraph-box{
    display: flex;
    justify-content: center;
}

.paragraph{
    box-sizing: border-box;
    margin-top: 45px;
    display: block;
    text-align: center;
    width: 800px;

}


#project-page{
    height: 900px;
    background-color: red;
}
#skills-page{
    height: 900px;
    background-color: black;
}

#message-page{
    height: 900px;
    background-color: blue;
}

@font-face {
  font-family: 'MyCustomFont'; /* Give your font a name */
  src: url("D:\Codes\HTML\My website\Fonts\steph-font-bold.ttf") format('ttf'); /* Path to your font file */
  font-weight: normal;
  font-style: normal;
}