*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(248, 248, 248);
}

html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'ekbfont';
    src: url(Fonts/steph-font-bold.ttf);
}

@font-face {
    font-family: 'eknfont';
    src: url(Fonts/steph-font.ttf);
}

.navbar{
    display: flex;
    background-color: rgba(191, 214, 196, 0.9);
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top:0;
    opacity: 1.0;
}



.logo{
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: 'ekbfont', sans-serif;

}

.nparts{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-right: 20px;
}

.nparts li{
    margin-right: 30px;
}

.nparts a{
    text-decoration: none; 
    color: black; 
    font-family: 'ekbfont', sans-serif;
     
}

#about-page{
    height: 900px;
    margin-top: 150px;
    font-family: 'eknfont', sans-serif;
}
.greet{
    display: flex;
    justify-content: center;
    font-size: 46px;
}

.greet p{
    font-family: 'ekbfont', sans-serif;
}

.ppbox{
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.pp{
    border-radius: 50%;
    overflow: hidden;
}

.pp img{
    transform: translateY(2px);
    transition-duration: 1s;
}

.pp img:hover{
    transform: scale(1.1);
}

.ppic{
    scale: 1.1;
}

.paragraph-box{
    display: flex;
    justify-content: center;
}

.paragraph{
    box-sizing: border-box;
    margin-top: 45px;
    display: block;
    text-align: center;
    width: 844px;
    font-size: 20px;

}

#project-page{
    height: 900px;
    background-color: red;
}

#message-page{
    height: 900px;
    background-color: blue;
}

.apps{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.apps a{
    text-decoration: none;
    color: rgba(89, 118, 95, 0.9);
    font-size: 40px;
    transition-duration: 0.3s;
    margin-left: 20px;
}

.apps a:hover{
    transform: scale(1.2);
    color: rgba(114, 170, 125, 0.5);
}

#project-page{
    background-color: beige;
    display: flex;
    justify-content: center;
}

#project-page p{
    margin-top: 100px;
    font-family: 'ekbfont', sans-serif;
    font-size: 50px;
}


.sk{
    display: flex;
    justify-content: center;
    font-family: 'ekbfont';
    margin-top: 100px;
    font-size: 150px;
}

.sapps{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 100px;
}

.sapps i:hover{
    transform: scale(1.2);
    color: rgba(114, 170, 125, 0.5);
}

.sapps i{
    font-size: 40px;
    margin-left: 20px;
    color: rgba(89, 118, 95, 0.9);
}